<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head('Modificar Orden')}"></head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
    <div th:class="container">
    <h1>Modificar Orden</h1>
    <form th:action="@{/ordenes/{id}(id=${orden.id})}" th:object="${orden}" method="post">
        <input type="hidden" name="_method" value="put" />

        <label for="fecha" class="form-label">Fecha:</label>
        <input class="form-control" aria-describedby="fecha" type="date" id="fecha" th:field="*{fecha}" />

        <label for="cliente" class="form-label">Cliente:</label>
        <input class="form-control" aria-describedby="cliente" type="text" id="cliente" th:field="*{cliente}" />

        <h3>Detalles de Productos</h3>

        <div class="container mt-5">
            <h2>Ejemplo de Select con Fragmento Thymeleaf</h2>
            <!-- Input select -->
            <div th:insert="~{fragments/bootstrap/form/select :: select(${orden.ordenesProductos}, 'Selecciona un producto', 'form-select form-select-lg', true, false)}"></div>
            <!-- Input Básico -->
            <div th:insert="~{fragments/bootstrap/form/input :: input('text', 'username', 'Username', false, false, 'Enter username', null, null, null, null, 'custom-class')}"></div>

            <!-- Preparar parámetros para input-group -->
            <th:block th:with="inputs=${#arrays.asList({'type':'text', 'id':'username', 'placeholder':'Username'})}">
                <!-- Input input-group -->
                <div th:insert="~{fragments/bootstrap/form/input-group :: inputGroup('@', null, inputs)}"></div>
            </th:block>

            <!-- Input check-radio : checkbox -->
            <div th:insert="~{fragments/bootstrap/form/check-radio :: checkRadio('checkbox', 'agree', 'Agree to terms', false, 'custom-class')}"></div>
            <!-- Input check-radio : radio -->
            <div th:insert="~{fragments/bootstrap/form/check-radio :: checkRadio('radio', 'option1', 'Option 1', false, 'custom-class')}"></div>
        </div>



        <!--Input Group con Prefijo-->
<!--        <div th:replace="fragments/input-group :: inputGroup('@', null, ${#arrays.asList({'type':'text', 'id':'username', 'placeholder':'Username'})})"></div>-->

        <!--Checkbox-->
<!--        <div th:replace="fragments/check-radio :: checkRadio('checkbox', 'agree', 'Agree to terms', false, 'custom-class')"></div>-->

        <!--Radio-->
<!--        <div th:replace="fragments/check-radio :: checkRadio('radio', 'option1', 'Option 1', false, 'custom-class')"></div>-->
        <table class="table table-info">
            <thead>
            <tr>
                <th th:scope="col">Producto</th>
                <th th:scope="col">Cantidad</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ordenProducto, iterStat : ${orden.ordenesProductos}">
                <td th:text="${ordenProducto.producto.id}" th:scope="row"></td>
                <td>
                    <input type="number" th:field="*{ordenesProductos[__${iterStat.index}__].cantidad}" />
                </td>
            </tr>
            </tbody>
        </table>

        <button type="submit" class="btn btn-success">Guardar Cambios</button>
    </form>
    <a href="/ordenes" class="btn btn-secondary">Volver al Dashboard</a>
    </div>
</div>
<div th:insert="~{fragments/scripts :: scripts}"></div>
</body>
</html>