<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head('Nuevo Proveedor')}"></head>
<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <div th:class="container">
        <h1>Nueva Proveedor</h1>
        <form th:action="@{/proveedores}" th:object="${proveedor}" method="post">

            <label class="form-label" for="nombreProveedor">Fecha:</label>
            <input class="form-control" aria-describedby="nombreProveedor" type="text" id="nombreProveedor" th:field="*{nombreProveedor}" />

            <button type="submit" class="btn btn-success">Crear Orden</button>
        </form>
        <a href="/ordenes" class="btn btn-secondary">Volver al Dashboard</a>
    </div>
    <div th:insert="~{fragments/scripts :: scripts}"></div>
</body>
</html>