<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar Proveedor</title>
</head>
<body>
<h1>Modificar Proveedor</h1>
<form th:action="@{/proveedores/{id}(id=${proveedor.id})}" th:object="${proveedor}" method="post">
    <input type="hidden" name="_method" value="put"/>
    <label for="nombreProveedor">Nombre:</label>
    <input type="text" id="nombreProveedor" th:field="*{nombreProveedor}" />
    <button type="submit">Guardar Cambios</button>
</form>
<a href="/proveedores">Volver</a>
</body>
</html>