<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head('Mantenedor de Proveedores')}"></head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
    <div th:class="container">
    <h1>Mantenedor de Proveedores</h1>
    <table class="table table-info table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th th:scope="col">Nombre</th>
            <th th:scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="proveedor : ${proveedores}">
            <td th:text="${proveedor.id}" th:scope="row"></td>
            <td th:text="${proveedor.nombreProveedor}"></td>
            <td>
                <a class="btn btn-outline-secondary" th:href="@{/proveedores/{id}(id=${proveedor.id})}"><i class="bi bi-eye"></i> Ver</a>
                <a class="btn btn-outline-warning" th:href="@{/proveedores/{id}/editar(id=${proveedor.id})}"><i class="bi bi-save"></i> Modificar</a>
                <a class="btn btn-outline-primary" th:href="@{/proveedores/{id}/eliminar(id=${proveedor.id})}" onclick="return confirm('¿Estás seguro de que quieres eliminar este proveedor?')"><i class="bi bi-file-earmark-x"></i> Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/proveedores/nuevo" class="btn btn-success">Crear Nuevo Proveedor</a>
    <a methods="get" href="/ordenes" class="btn btn-secondary">Volver al Dashboard de Órdenes</a>
    </div>
</div>
<div th:insert="~{fragments/scripts :: scripts}"></div>
</body>
</html>