<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ver Proveedor</title>
</head>
<body>
<h1>Detalles del Proveedor</h1>
<div>
    <h2>ID: <span th:text="${proveedor.id}"></span></h2>
    <p>Nombre: <span th:text="${proveedor.nombreProveedor}"></span></p>

    <h3>Productos asociados</h3>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Producto</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producto : ${proveedor.productos}">
            <td th:text="${producto.id}"></td>
            <td th:text="${producto.nombreProducto}"></td>
        </tr>
        </tbody>
    </table>
</div>
<a href="/proveedores">Volver al Mantenedor de Proveedores</a>
<a th:href="@{/proveedores/{id}/editar(id=${proveedor.id})}">Modificar Proveedor</a>
<a th:href="@{/proveedores/{id}/eliminar(id=${proveedor.id})}" onclick="return confirm('¿Estás seguro de que quieres eliminar este proveedor?')">Eliminar Proveedor</a>
</body>
</html>
